body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  min-width: 360px;
}

.myRow {
  height: 100px !important;
}

td {
  padding: 0 5px !important;
  text-align: center;
}

.header {
  max-width: 800px;
  margin: 0 auto;
  padding: 2px 8px;
}

.main {
  max-width: 800px;
  padding: 32px 8px;
  margin: 0 auto;
  box-sizing: border-box;
  background: #fff;
}

.header-content,
.search {
  overflow: hidden;
  max-width: 800px;
  padding: 0 8px;
  margin: 0 auto;
  box-sizing: border-box;
  background: #32a2a2;
}

.header-content {
  padding: 24px;
  color: #fff;
  font-size: 18px;
}

.search__title {
  font-size: 18px;
  margin: 16px 0 8px;
  color: #fff;
}

.search__input {
  height: 40px;
  width: 100%;
  padding: 0 16px;
  margin-bottom: 24px;
  outline: none;
  box-sizing: border-box;
  border: #ccc 1px solid;
  border-radius: 2px;
  background: #fff;
  font-size: 14px;
}

.search__error {
  height: 16px;
  margin: 8px 0 8px;
  font-size: 12px;
  color: #F44336;
}

.error__description {
  text-align: center;
  margin: 100px 0;
  font-size: 18px;
  color: #777;
  font-weight: 400;
}

.error__description {
  color: #F44336;
}

.report {
  border-collapse: collapse;
  width: 100%;
}

.report__row {
  border: 1px #ccc solid;

}

.report__column {
  width: 60%;
  padding: 8px;
}

.report__column_name {
  width: 40%;
}

.page-spinner {
  width: 100%;
}

.ant-spin {
  color: #32a2a2;
}

.ant-spin-dot-item {
  background-color: #32a2a2;
}

.page-list {
  font-size: 15px;
}

.page-list > .ant-list-header {
  font-size: 18px;
  color: #FFF;
  background: #32a2a2;
}

.ant-list-item.page-list__item {
  padding: 0;
}

.page-list__item > a {
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  color: #4c4c4c;
}

.page-list__item > a:hover {
  background: #cce7e7;
}